html { height: 100%; }

body {
  height: 100%;
  width: 100%;
  background-color: #e8ebed;
  color: #48545b;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

header {
  background-color: #0a4773;
  min-height: 500px;
}

#modal {
  position: relative;
  margin: auto;
  top: 5em;
  background: white;
  min-height: 500px;
  width: 70%;
  border-radius: 5px;
  box-shadow: 1px 1px 4px lightgray;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.experiment-parameters p, .conversion-rates p {
  display: inline-block;
  margin-right: 0.5em;
}

.horizontal-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.experiment-status, .conversion-rates {
  flex: 1;
  padding: 2em;
}

.progress-bar {
  background-color: lightgray;
  height: 3em;
  border-radius: 6px;
  margin: 1em auto;
}

.progress-bar-fill {
  height: 100%;
  background: #035908;
  border-radius: 6px;
}

nav {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

nav h4 {
  display: inline-block;
}
