<div class="wrapper">
  <div class="page-controls">
    <a href=<%= experiments_path %>>
      &#8592; Back
    </a>

    |

    <a href=<%= experiment_path(@experiment) %>>
      Details
    </a>
  </div>
  
  <h1>Editing Experiment</h1>
  <%= render 'form', experiment: @experiment %>
</div>
