<header>
  <div id="modal">
    <h1>Editing Experiment</h1>
    <%= render 'form', experiment: @experiment %>
  </div>
</header>

<nav>
  <h5>
    <a href=<%= experiments_path %>>
      Back
    </a>
  </h5>

  <h5> | </h5>

  <h5>
    <a href=<%= experiment_path(@experiment) %>>
      Details
    </a>
  </h5>
</nav>
