<header>
  <div id="modal">
    <h1>New Experiment</h1>
    <%= render 'form', experiment: @experiment %>
  </div>
</header>

<nav>
  <h5>
    <a href=<%= experiments_path %>>
      Back
    </a>
  </h5>
</nav>
