<div class="wrapper">
  <div class="page-controls">
    <a href=<%= experiments_path %>>
      &#8592; Back
    </a>
  </div>

  <h1>New Experiment</h1>
  <%= render 'form', experiment: @experiment %>
</div>
