html { height: 100%; }

body {
  height: 100%;
  width: 100%;
  background-color: var(--orange);
  color: #48545b;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.container {
  min-height: 500px;
  background: white;
}

.container table {
  margin: 0 auto;
}

.row {
  padding: 0 2em;
}

.experiment-parameters p, .conversion-rates p {
  display: inline-block;
  margin-right: 0.5em;
}

.horizontal-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.experiment-progress, .conversion-rates {
  flex: 1;
  padding: 2em;
}

.progress-bar {
  background-color: lightgray;
  height: 3em;
  border-radius: 6px;
  margin: 1em auto;
}

.progress-bar-fill {
  height: 100%;
  background: #035908;
  border-radius: 6px;
}

nav {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

nav h5 {
  display: inline-block;
}

#modal form div {
  display: inline-block;
  margin-right: 0.5em;
}

#modal form .actions input {
  background-color: lightgray;
  color: black;
  font-size: 0.9em;
}

.sample-size-preview {
  width: 50%;
  margin: 0 auto;
}
