html { height: 100%; }

body {
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--blue-dark);
  background: var(--black);
}

.wrapper {
  padding: 2em;
}

.wrapper {
  flex-grow: 1;
  margin: 10px;
  background: white;
  border-radius: 10px;
}

table {
  width: 100%;
  font-size: 14px;
}

th, td {
  padding: 1.5em 0;
}

td.name {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

a:not(.button) {
  color: var(--orange-dark);
  font-weight: 700;
  text-decoration: none;
}

a:not(.button):hover {
  text-decoration: underline;
}

.page-controls {
  margin-bottom: 2em;
  font-size: 2em;
}

.experiment-parameters p, .conversion-rates p {
  display: inline-block;
  margin-right: 0.5em;
}

.horizontal-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.experiment-progress, .conversion-rates {
  flex: 1;
  padding: 2em;
}

.progress-bar {
  background-color: lightgray;
  height: 3em;
  border-radius: 6px;
  margin: 1em auto;
}

.progress-bar-fill {
  height: 100%;
  background: #035908;
  border-radius: 6px;
}

#modal form div {
  display: inline-block;
  margin-right: 0.5em;
}

#modal form .actions input {
  background-color: lightgray;
  color: black;
  font-size: 0.9em;
}

.sample-size-preview {
  width: 50%;
  margin: 0 auto;
}
