nav {
  position: relative;
  width: 200px;
  padding: 1em;
  background-color: var(--black);
}

nav .logo {
  width: 96px;
  margin-bottom: 1em;
}

nav a, nav a:visited {
  color: white;
}

.nav-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  text-align: center;
}
